* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AuthWrapper {
  width: 100%;
  padding: 1em 0;
}

li {
  list-style-type: none;
  font-size: 1em;
  margin-right: 2em;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid rgb(24, 179, 9);
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  padding: 3em 0;
  width: 100%;
  box-sizing: border-box;
}

.Navbar .content {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: larger;
  text-transform: capitalize;
  color: black;
}

.Navbar .login {
  font-size: 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Navbar .cartButtons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  align-items: center;
}

.cart-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 1.2em;
}

.cart-button > span {
  position: relative !important;
}

.cart-button > span > span {
  position: absolute;
  right: -15px;
  top: -10px;
  border-radius: 50%;
  background-color: rgb(149, 49, 12);
  color: white !important;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.login,
.logout {
  border: none;
  font-size: 1.5em;
  font-weight: 1.5em;
  background: none;
  text-transform: capitalize;
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sidebar {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-color: white;
  z-index: -1;
  top: 0;
}

.sidebar .logo {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  display: none;
  width: 50px;
  height: 50px;
  color: orange;
  background: none;
  font-size: 2em;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .AuthWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0.5em;
    box-sizing: border-box;
  }

  .show-sidebar {
    display: block;
    transform: translateX(0);
    transition: transform 0.3s linear;
    background-color: white;
    z-index: 999;
  }

  .close-btn {
    display: block;
  }
  .sidebar .links li {
    padding: 1em 1em;
  }
  .sidebar.links li a {
    text-decoration: none;
    font-size: 1.5em;
    text-transform: capitalize;
    color: black;
  }

  .btn-sidebar {
    width: 100%;
  }
  .btn-sidebar .cartButtons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 1em auto;
  }

  .btn-sidebar .cartButtons-container .cart-button {
    font-size: 1.5em;
  }

  .Navbar > div:nth-child(2) {
    display: none;
  }
}
.HomePage {
  width: 100%;
}
.HomePage .Hero {
  width: 100%;
  height: fit-content;
  padding: 3em 0;
  padding-left: 1em;
  padding-right: 0.5em;
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.HomePage .Hero .image_section {
  position: relative;
}
.HomePage .Hero .image_section img {
  width: 80%;
  height: 96%;
  float: right;
  border-radius: 10px;
}

/* responsive HOME */
@media screen and (max-width: 900px) {
  .HomePage .Hero {
    width: 95%;
    height: 100%;
    padding: 1em 0;
    padding-left: 1em;
    padding-right: 0.5em;
    display: flex;
    flex-direction: column;
  }

  .HomePage .Hero .image_section {
    display: none;
  }

  .HomePage .Hero .main_content h1 {
    font-size: 1.3em;
    line-height: 1em;
  }

  .HomePage .Hero .main_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 1.5em;
    width: 100%;
    height: 60%;
    line-height: 1.5em;
    padding: 1em 0;
  }
}

.HomePage .Hero .main_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 1.5em;
  width: 100%;
  height: 60%;
  line-height: 1.5em;
  padding: 3em 0;
}

.HomePage .Hero .main_content h1 {
  max-width: 400px;
  line-height: 1em;
}

.HomePage .Hero .main_content button {
  padding: 20px 30px;
  background-color: rgba(168, 209, 19, 0.757);
  margin-top: 2em;
  border-radius: 10px;
  border: 0;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  color: white;
}
.HomePage .Hero .image_section > img:nth-child(2) {
  width: 60%;
  height: 40%;
  position: absolute;
  left: -10%;
  top: 56%;
}
.HomePage .Hero .image_section::before {
  position: absolute;
  content: '';
  top: 10%;
  background-color: rgba(193, 141, 19, 0.474);
  width: 10%;
  height: 80%;
  border-radius: 5px;
  z-index: -1;
  left: 15%;
}

/* Feature Products */
.FeaturedProduct {
  padding: 1em 1em;
  text-align: center;
  background-color: rgba(8, 153, 153, 0.516);
  display: block;
  height: fit-content;
  width: 100%;
}

.FeaturedProduct .center-div {
  text-align: center;
}

.FeaturedProduct .center-div .title {
  margin: 2em 0;
}
.underline {
  margin: 10px auto;
  border: 2px solid orange;
  width: 10%;
}

.FeaturedProduct .center-div > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 250px));
  column-gap: 10px;
  row-gap: 50px;
  width: 95%;
  margin: 0 auto;
}
.FeaturedProduct .center-div > div:nth-child(2) .ProductItem .image {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: center;
}
.FeaturedProduct .center-div > div:nth-child(2) .ProductItem .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.FeaturedProduct
  .center-div
  > div:nth-child(2)
  .ProductItem
  .image
  .animation-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.FeaturedProduct
  .center-div
  > div:nth-child(2)
  .ProductItem
  .image
  .animation-hover
  a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
  cursor: pointer;
}
.FeaturedProduct
  .center-div
  > div:nth-child(2)
  .ProductItem
  .image:hover
  > .animation-hover {
  display: block;
  background-color: rgba(153, 166, 8, 0.413);
  transition: all 0.3s linear;
}

.FeaturedProduct .center-div > div:nth-child(2) .ProductItem .content {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  font-weight: 1em;
  font-size: larger;
  text-transform: capitalize;
}

.FeaturedProduct
  .center-div
  > div:nth-child(2)
  .ProductItem
  .content
  > span:nth-child(2) {
  color: rgb(136, 88, 7);
}

.FeaturedProduct button {
  margin-top: 3em;
  padding: 20px 20px;
  font-size: larger;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  border: none;
  background: rgba(170, 113, 9, 0.485);
  border-radius: 10px;
  cursor: pointer;
}

.services {
  padding-top: 5em;
  background-color: rgba(152, 76, 48, 0.363);
  width: 100%;
}

.services .introduce {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 4em;
  width: 90%;
  margin: 0 auto;
}

.services .introduce h1 {
  max-width: 290px;
  font-size: 2em;
}

.services .introduce p {
  font-size: large;
}
.services section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.services section article {
  background-color: rgb(177, 126, 96);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 1em;
  text-align: center;
  line-height: 1.5em;
  border-radius: 20px;
}

.services section article > p:nth-child(1) {
  width: 50px;
  height: 50px;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 2em;
  font-weight: bolder;
  padding: 10px 10px;
}

.services section article > p:nth-child(2) {
  font-size: 1.5em;
  font-weight: bolder;
  margin: 1em 0;
}

.contact {
  padding: 2em 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

/* responsive */
@media screen and (max-width: 900px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.contact .content {
  line-height: 2em;
}
.contact form {
  width: 100%;
  border: 2px solid black;
  height: 40px;
  display: grid;
  grid-template-columns: 70% 30%;
}
.contact form input {
  font-size: larger;
  border: none;
  border-right: 2px solid black;
}
.contact form button {
  font-size: large;
  background-color: none;
  border-radius: none;
  background-color: rgb(177, 126, 96);
  border: none;
}

/* Footer */
.Footer {
  padding: 2em 0;
  text-align: center;
  background-color: black;
  color: rgba(255, 255, 255, 0.519);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: sticky;
  left: 0;
  bottom: 0 !important; */
  clear: both;
  margin-top: 1em;
  width: 100%;
}

.Footer span {
  color: yellowgreen;
}

.about {
  padding: 0 0;
  margin: 0;
}

.about section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  gap: 20px;
  padding: 2em 2em;
}

.about section .content h1 {
  text-align: center;
}

.about section .content {
  margin: 1em 0;
  line-height: 1.5em;
  color: rgb(109, 113, 113);
  font-size: large;
}
.about section .image {
  border-radius: 20px;
}
.about section .image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 0 1em;
}

/* responsive about */
@media screen and (max-width: 900px) {
  .about section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about section .content {
    width: 100%;
  }
  .about section .content h1 {
    text-align: start;
  }

  .about .underline {
    margin: 1em 0;
    padding: 0;
    width: 50%;
  }

  .about .image {
    width: 100%;
  }

  .about .image img {
    transform: scale(1.2);
    padding: 0;
  }
}

.pagehero {
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  padding: 1em 1em;
  margin: 1em 0;
  text-transform: capitalize;
  color: white;
  background-color: rgb(175, 102, 75);
}

.pagehero span {
  color: rgba(105, 36, 6, 0.862);
}
.productPage {
  width: 100%;
}

.section-center {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 0;
  margin: 0;
}

/* Responsive for product page */
@media screen and (max-width: 765px) {
  .section-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
/* Filters */
.Filters {
  padding: 0 1em;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  bottom: 1em;
  box-sizing: border-box;
}
/* học cách dùng thuộc tính position: sticky */

/* Responsive for product page */
@media screen and (max-width: 765px) {
  .Filters {
    box-sizing: border-box;
    position: static;
  }
}
.Fileters form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Filters form .form-control input {
  width: 100%;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(197, 188, 188, 0.456);
  font-size: larger;
  margin: 1em 0;
}

.Filters form .category div button {
  display: block;
  border: none;
  padding: 0.4em 0;
  background: none;
  text-transform: capitalize;
  color: rgb(109, 113, 113);
  font-weight: bold;
  cursor: pointer;
}

.Filters form .company h3 {
  margin: 0.5em 0;
}
.Filters form select {
  border: none;
  margin: 0.5em 0;
  text-transform: capitalize;
  font-size: 1em;
}

.Filters form .colors {
  margin: 0.5em 0;
}
.Filters form .colors h3 {
  margin: 0.5em 0;
}

.Filters form .colors > div:nth-child(2) {
  display: flex;
  align-items: center;
}
.Filters form .colors > div:nth-child(2) button {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  background: none;
  text-transform: capitalize;
}

.Filters form .price {
  margin: 1em 0;
  text-transform: capitalize;
}

.Filters form .shipping {
  display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
  font-size: 1.2em;
  margin: 1em 0;
}

.Filters form .shipping input {
  margin: 0 15px;
}

.Filters .clear-btn {
  display: block;
  width: fit-content;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(178, 13, 13);
  cursor: pointer;
  color: white;
  font-weight: bold;
}

/* Sort */
.sortContainer {
  width: 100%;
  margin: 0;
  padding: 0;
}
.Sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.2em;
  width: 100%;
}

.Sort .btn-container {
  display: flex;
  padding: 0 1em;
}
.Sort form {
  display: flex;
  justify-content: center;
  padding: 0 1em;
  width: 40%;
}

.Sort .line {
  height: 1px;
  width: 95%;
  background-color: gray;
  margin: 0 auto;
}

.Sort .product-length {
  padding: 1em 0;
  display: flex;
  width: 30%;
}
/* responsive sort */
@media screen and (max-width: 900px) {
  .Sort {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2em 1em;
  }
  .Sort .line {
    margin: 0.5em 0;
    width: 100%;
    padding: 0;
  }
  .Sort form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
  }

  .Sort .btn-container {
    padding: 0 0;
  }

  .Sort .product-length {
    padding: 1em 0;
    width: 40%;
  }
}

.Sort .btn-container button {
  margin: 0 0.2em;
  padding: 5px;
  border-radius: 2px;
  font-size: large;
  border: none;
  cursor: pointer;
}

.Sort form select {
  border: none;
  background: none;
  padding: 0 0.5em;
  text-transform: capitalize;
  font-size: 1em;
}

/* ProductItem */
.GridView {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 0 1em;
  width: 100%;
}
.ProductItem .image {
  width: 100%;
  position: relative;
  object-fit: center;
}
.ProductItem .image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.ProductItem .image .animation-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  display: none;
}

.ProductItem .image .animation-hover a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
  cursor: pointer;
}

.ProductItem .image:hover > .animation-hover {
  display: block;
  background-color: rgba(153, 166, 8, 0.413);
  transition: all 0.3s linear;
  border-radius: 10px;
}
.ProductItem .content {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  font-weight: 1em;
  font-size: larger;
  text-transform: capitalize;
}

/* ListView */
.ListView > div {
  margin: 1em 1em;
}
.ListView > div .image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive ListView */
@media screen and (max-width: 900px) {
  .ListView > div .image {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.ListView > div .image .image-container {
  width: 100%;
  height: 200px;
}

.ListView > div .image .image-container img {
  width: 90%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.ListView > div .image .content > p {
  padding: 0.3em 0;
}
.ListView > div .image .content > p:nth-child(1) {
  text-transform: capitalize;
  font-size: larger;
  font-weight: bold;
}

.ListView > div .image .content > p:nth-child(2) {
  text-transform: capitalize;
  font-size: larger;
  font-weight: bold;
  color: rgb(158, 106, 11);
}

.ListView > div .image .content button {
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  background-color: rgba(255, 166, 0, 0.517);
  border-radius: 5px;
  cursor: pointer;
}
/* ------------------------------------------------------ */
/* Single page */
.SinglePage button {
  padding: 5px 10px;
  background-color: rgb(185, 123, 7);
  border: none;
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1em;
}
.SinglePage .main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.SinglePage .image {
  width: 100%;
}
.SinglePage .image .ProductImages .image img {
  width: 24%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 1%;
}
.SinglePage .image .ProductImages .image > img:nth-child(1) {
  display: block;
  width: 99%;
  height: 60vh;
}

.SinglePage .main-content .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2em;
  text-transform: capitalize;
  margin: 0.5em 0;
}

/* Stars */
.Stars {
  color: rgb(134, 134, 8);
}

.Stars span {
  color: #000;
}

.CartAmountButtons {
  display: flex;
  justify-content: space-around;
  width: 150px;
  font-weight: bold;
  margin: 1.5em 0;
  color: black;
  align-items: center;
}
/* Respnsive CartAmountButtons */
@media screen and (max-width: 900px) {
  .CartAmountButtons {
    justify-content: flex-end;
    width: 150px;
    color: orange;
    z-index: 5;
  }
}
.AddToCart a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: rgb(199, 133, 11);
  color: white;
  margin-bottom: 10px;
}

/* Cart Container */

.CartContainer .direct_button {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.CartContainer .direct_button button {
  padding: 10px 10px;
  background-color: rgb(183, 123, 13);
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
  font-weight: bolder;
}

.CartContainer .CartColumns {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
  width: 90vw;
  text-align: center;
}

/* Responsive CartColumns */
@media screen and (max-width: 900px) {
  .CartContainer .CartColumns {
    display: none;
  }
}
.icon {
  cursor: pointer;
  padding: 0 10px;
  font-size: 1.8em;
}

/* Resposive icon */
@media screen and (max-width: 900px) {
  .CartContainer .icon {
    font-size: 1em;
  }
}
.CartItem .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.CartItem .cart > span {
  padding: 0 15px;
}

.cartUnderline {
  background-color: gray;
  width: 90%;
  margin: 10px auto;
  height: 2px;
}

@media screen and (max-width: 900px) {
  .cartUnderline {
    display: none;
  }
}
/* CartItem */
.CartItem {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}

/* Respomsive cartItem */
@media screen and (max-width: 900px) {
  .CartItem {
    margin: 20px 0;
    font-size: 1em;
  }
}

.CartItem .image {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 28%;
}

.CartItem .image .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Responsive content of cartitem */
@media screen and (max-width: 900px) {
  .CartItem .image .content {
    display: block;
  }

  .CartItem .image .content div div p {
    text-align: right;
  }

  .CartItem .image .content > p:nth-child(2) {
    width: 160%;
    text-align: right;
  }

  .CartItem > span:nth-child(3) > span {
    display: none !important;
  }
}
.CartItem .image > div > div {
  display: flex;
  align-items: center;
}
.CartItem .image img {
  width: 100px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
  display: block;
}

/* Responsive image */

.CartItem .content span {
  display: inline-block;
}

.CartTotals {
  float: right;
  clear: both !important;
  border: 2px solid gray;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  text-transform: capitalize;
  font-weight: bolder;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 1em 5vw;
}
/* empty items */
.empty {
  text-align: center;
  font-size: 2em;
  font-weight: 2em;
  height: calc(100vh - 12.5em);
}

.empty button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: olivedrab;
  text-transform: capitalize;
  text-align: center;
  font-size: 1em;
  font-weight: 1em;
  margin: 10px 0;
  cursor: pointer;
}

/* Error */
.error {
  width: 100%;
  text-align: center;
  height: calc(100vh - 11em);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
}

/* btn */
.btn {
  padding: 5px 10px;
  background-color: rgb(125, 174, 12);
  width: 150px;
  border-radius: 5px;
}

/* Checkout page */
.CheckoutPage {
  height: 80vh;
}

.CheckoutPage .content {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
